* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    /* more on this crazy alphanumerical value in a minute! */
    color: red;
    font-family: Helvetica, Arial, sans-serif;
}
/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: red;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: beige;
    margin: 0;
}
  
header a {
    color: beige;
    text-decoration: none;
    color: beige;
}
header nav {
    float: right;
    margin: 7px 0;
  }
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: beige;
    margin: 0;
    display: inline;
}

section {
    padding: 60px;
}
/*About me style*/
.info {
    text-align: center;
}
.info h2 {
    color: beige;
}
.info p {
    line-height: 1.9;
    color: red;
    width: 80%;
    font-size: medium;
    margin: 0 auto;
}
/*end of About me style*/

/*footer starts here*/
footer{
    background-color: red;
    width: 100%;
    padding: 40px 35px;
}
footer h2 {
    display: inline-block;
    color: beige;
    font-size: 30px;
    margin: 0;
}
footer a {
    color: beige;
    text-decoration: none;
    color: beige;
}
footer nav {
    float: right;
    margin: 7px 0;
  }
  footer nav ul li {
    display: inline;
}
footer nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

