* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    /* more on this crazy alphanumerical value in a minute! */
    color: red;
    font-family: Helvetica, Arial, sans-serif;
}
/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: red;
    
}
header h1 {
    font-weight: bold;
    font-size: 3vw;
    color: red;
    margin: 0;
    display: inline;
}
  
header a {
    color: beige;
    text-decoration: none;
   
}
header nav {
    float: right;
    margin: 7px 0;
    font-size: small;
  }
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 2vw;
}
header h1 {
    font-weight: bold;
    font-size: 2vw;
    color: beige;
    margin: 0;
    display: inline;
}

section {
    padding: 60px;
}
/*About me style*/
.info {
    text-align: center;
}
.info h2 {
    color: red;
}
.info p {
    line-height: 1.9;
    color: red;
    width: 80%;
    font-size: medium;
    margin: 0 auto;
}
/*end of About me style*/


/*portfolio section styles*/

.section-title {
    font-size: 55px;
       color: red;
       display:inline-block;
       border-bottom: 3px solid;
       padding-bottom: 20px;
       text-align: center;
       margin: 0 auto 35px auto;
       width: 50%;
  
      
   }


.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.run-buddy {
background-image: url("../images/run\ buddy.png");
min-height: 150px;
background-repeat: no-repeat;
height: 305px;
background-size: cover;
padding-top: 10px;


}

.MarketingGEM {
    min-height: 150px;
    background-repeat: no-repeat;
    height: 305px;
    background-size: cover;
    background-image: url("../images/horiseon.png");
    padding-top: 10px;
    


}

.work {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;

}

.description {
    background-color: beige;
}

.description h3 {
    font-size: 2vw;
    
}

.description p { font-size: 2vw;
    }


      


/*footer starts here*/
footer{
    background-color: red;
    width: 100%;
    padding: 40px 35px;
}
footer h2 {
    display: inline;
    color: beige;
    font-size: 2vw;
    margin: 0;
}
footer a {
    color: beige;
    text-decoration: none;
  
}
footer nav {
    float: right;
    margin: 7px 0;
  }
  footer nav ul li {
    display: inline;
}
footer nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 2vw;
}

